---
import type { CollectionEntry } from 'astro:content';
import ArticleCard from './ArticleCard.astro';

interface Props {
  articles: CollectionEntry<'articles'>[];
}

const { articles } = Astro.props;
---

{articles.length > 0 && (
  <section class="mt-16" data-pagefind-ignore>
    <h2 class="font-display text-3xl text-slate-900">Related Articles</h2>
    <div class="mt-8 grid gap-6 lg:grid-cols-3">
      {articles.map((article) => <ArticleCard article={article} />)}
    </div>
  </section>
)}
